.navbar {
    box-shadow: 0 15px 40px -20px rgba(6, 27, 103, 0.15);
}

.nav-link {
    color: #333;
    transition: color 0.3s;
}

.nav-link:hover {
    color: orangered;
    /* color:'#7e1f0a', '#0b8d23', '#081c74', '#820e7c', '#7a8008' */
}